<app-menu-superior></app-menu-superior>
<div class="container main-container">
  <h4>Login Usuário</h4>
  <hr />

  <form (ngSubmit)="loginUsuario()" novalidate [formGroup]="formulario" >
    <div class="form-horizontal">
      
      <app-template-form-control-summary [errors]="errors"></app-template-form-control-summary>

      <div class="form-group" [ngClass]="aplicarCssErro(displayMessage.email)">
        <label class="col-md-2 control-label" for="email">Email</label>
        <div class="col-md-6">
          <input class="form-control" id="email" formControlName="email" type="text" placeholder="Email (requerido)" />
          <app-template-control-form-error [notInline]="false" [msgError]="displayMessage.email" *ngIf="displayMessage.email">
          </app-template-control-form-error>
        </div>
      </div>

      <div class="form-group" [ngClass]="aplicarCssErro(displayMessage.senha)">
        <label class="col-md-2 control-label" for="senha">Senha</label>
        <div class="col-md-6">
          <input class="form-control" id="senha" formControlName="senha" type="password" placeholder="Senha (requerido)" />
          <app-template-control-form-error [notInline]="false" [msgError]="displayMessage.senha" *ngIf="displayMessage.senha">
          </app-template-control-form-error>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span><button class="btn btn-success" type="submit" [disabled]="!formulario.valid || loading">Entrar</button></span>
          <span><a href="" [routerLink]="['/recuperar-senha']">Esqueci a senha</a></span>
        </div>
      </div>
    </div>
  </form>
