<app-menu-superior></app-menu-superior>
<div class="container main-container">
  <h4>{{title}}</h4>
  <hr />
    <form novalidate [formGroup]="formulario" (ngSubmit)="save();" >
      <div class="form-horizontal">
        
        <!--<input type="hidden" formControlName="id" id="id" />-->

        <app-template-form-control-summary [errors]="errors"></app-template-form-control-summary>

        <div class="form-group" [ngClass]="aplicarCssErro(displayMessage.nome)">
          <label class="col-md-2 control-label" for="nome">Nome</label>
          <div class="col-md-6">
            <input class="form-control" id="nome" formControlName="nome" type="text" placeholder="Nome (requerido)" />
            <app-template-control-form-error [notInline]="false" [msgError]="displayMessage.nome" *ngIf="displayMessage.nome">
            </app-template-control-form-error>
          </div>
        </div>

        <div class="form-group" [ngClass]="aplicarCssErro(displayMessage.classe)">
          <label class="col-md-2 control-label" for="classe">Classe</label>
          <div class="col-md-6">
            <input class="form-control" id="classe" formControlName="classe" type="text" placeholder="Classe (requerido)" />
            <app-template-control-form-error [notInline]="false" [msgError]="displayMessage.classe" *ngIf="displayMessage.classe">
            </app-template-control-form-error>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="config">Config</label>
          <div class="col-md-6">
            <input class="form-control" id="config" formControlName="config" type="text" placeholder="Classe" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span><button class="btn btn-success" type="submit" [disabled]="!formulario.dirty || (!formulario.valid || loading)">Salvar</button></span>
            &nbsp;<span><a routerLink="/aplicacao/listar" class="btn btn-primary">Voltar</a></span>
          </div>
        </div>
      </div>
    </form>
</div>