<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-menu-superior></app-menu-superior>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-md-2 col-lg-2 col-xl-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-xs-10 col-md-10 col-lg-10 col-xl-10 main">
          <div class="card bg-light mb-3">
              <div class="card-header">
                <i class="fa {{icon}}"></i> 
                <span class="bold">{{title}}</span>
              </div>
            <div class="card-body">
        <form novalidate [formGroup]="formulario" (ngSubmit)="save();" >
           
            <app-template-form-control-summary [errors]="errors"></app-template-form-control-summary>

            <div class="form-row">
              <div class="form-group col-xs-12 col-md-12">
                <label class="form-control-label" for="nome">Nome</label>
                <input class="form-control" [ngClass]="aplicarCssErro(displayMessage.nome)" id="nome" formControlName="nome" type="text" placeholder="Nome (requerido)" />
                <app-template-control-form-error [notInline]="false" [msgError]="displayMessage.nome" *ngIf="displayMessage.nome">
                </app-template-control-form-error>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-xs-12 col-md-12">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input id="bloqueada" formControlName="bloqueada" type="checkbox" > Bloqueada
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-xs-12 col-md-12">
                <div class="col-md-4 col-md-offset-2">
                  <span><button class="btn btn-success" type="submit" [disabled]="!formulario.dirty || (!formulario.valid || loading)">Salvar</button></span>
                </div>
              </div>
            </div>
            <br />
            <br />
        </form>

        <div class="row" *ngIf="empresa.id">
          <div class="col-xs-12 col-md-12">
            <h4>Aplicações</h4>
            <hr />
            <form [formGroup]="formularioAplicacao">
              <div class="form-row">
                <div class="form-group col-xs-5 col-md-5">
                  <label>Aplicações</label>
                  <select class="form-control" id="aplicacaoId" formControlName="aplicacaoId">
                      <option *ngFor='let item of aplicacoes' value="{{item.id}}">{{item.nome}}</option>
                    </select>
                </div>

                <div class="form-group col-xs-4 col-md-4">
                   <label>Validade</label><br />
                   <my-date-picker name="dataInicio" [options]="myDatePickerOptions" formControlName="dataValidade"></my-date-picker>
                </div>

                <div class="form-group col-xs-1 col-md-1">
                  <input class="form-check-input" id="disponivel" formControlName="disponivel" type="checkbox" > 
                  <label class="form-check-label" for="disponivel">Dísponível</label>  
                </div>

                <div class="form-group col-xs-2 col-md-2">
                  <button type="button" class="btn btn-primary" (click)="adicionarAplicacao()">Incluir</button>
                </div>
              </div>
            </form>
          <hr />
          <table style="width: 100%;" class="table table-striped table-hover table-responsive" >
            <tr>
              <th scope="col">Aplicação</th>
              <th scope="col">Validade</th>
              <th scope="col">Disponível</th>
              <th scope="col">Excluir</th>
            </tr>
            <tbody>
              <tr *ngFor='let item of empresa.empresaAplicacoes'>
                  <td>{{item.aplicacao.nome}}</td>
                  <td>{{item.dataValidade | date}}</td>
                  <td style="text-align: center" [ngSwitch]="item.disponivel">
                      <span *ngSwitchCase="true" class="fa fa-check"></span>
                      <span *ngSwitchCase="false" class="fa fa-times"></span>
                  </td>
                  <td><button class="btn btn-primary" (click)="showChildModal(item.aplicacaoId,empresa.id)">
                  <span class="fa fa-trash" aria-hidden="true"></span></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">DV</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Confirma a exclusão da aplicação?</p>
            <button class="btn btn-danger" type="button" (click)="excluirAplicacao()">Excluir</button>
            <button class="btn btn-primary" type="button" (click)="hideChildModal()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>