<form (ngSubmit)="recuperar()" novalidate [formGroup]="formulario" >
  <div class="form-horizontal">

    <app-template-form-control-summary [errors]="errors"></app-template-form-control-summary>
    <div *ngIf="success" class="alert alert-success" role="alert">Procedimento enviado para o E-mail.</div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input [ngClass]="aplicarCssErro(displayMessage.emailRecuperar)" class="form-control" id="emailRecuperar" formControlName="emailRecuperar" type="text" placeholder="Email (requerido)" />
      <app-template-control-form-error [notInline]="false" [msgError]="displayMessage.emailRecuperar" *ngIf="displayMessage.emailRecuperar">
      </app-template-control-form-error>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="loading">Enviar</button>
  </div>
</form>