<div class="login-page animate">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<h1>DV - Site</h1>
      <app-template-form-control-summary [errors]="errors"></app-template-form-control-summary>
			<form role="form" (ngSubmit)="loginUsuario()" novalidate [formGroup]="formulario">
				<div class="form-content">
					<div class="form-group">
            <input autocomplete="off" class="form-control input-underline input-lg" id="email" formControlName="email" type="text" placeholder="Email (requerido)" />
            <app-template-control-form-error [formFeedBack]="false" [notInline]="false" [msgError]="displayMessage.email" *ngIf="displayMessage.email">
            </app-template-control-form-error>
					</div>
					<div class="form-group">
            <input class="form-control input-underline input-lg" id="senha" formControlName="senha" type="password" placeholder="Senha (requerido)" />
            <app-template-control-form-error [formFeedBack]="false" [notInline]="false" [msgError]="displayMessage.senha" *ngIf="displayMessage.senha">
            </app-template-control-form-error>
					</div>
				</div>
				<button class="btn rounded-btn" type="submit" [disabled]="!formulario.valid || loading"> Entrar </button>&nbsp;&nbsp;
        <button class="btn rounded-btn" type="button" (click)="showChildModal()"> Esqueci </button>
			</form>
		</div>	
	</div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Recuperar Senha</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<app-recuperar-senha></app-recuperar-senha>
			</div>
		</div>
	</div>
</div>
