.fs-12 {
    font-size: 12px;
}
.bold{
    font-weight: bold;
}
@media(min-width: 200px) and (max-width: 768px){
    .main{
        margin-top: 16%;
    }
}
@media(min-width: 1401px) and (max-width: 2000px){
    .main{
        margin-top: 4%;
    }
    .sidebar{
        width: 15%;
    }

}
@media(min-width: 1000px) and (max-width: 1400px){
    .main{
        margin-top: 5%;
    }

}