<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a class="list-group-item" *ngIf="verificarPermissao('Aplicacao','Ler')" routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/aplicacao/listar']">Aplica&ccedil;&atilde;o</a>
        <a class="list-group-item" *ngIf="verificarPermissao('Empresa','Ler')" routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/empresa/listar']">Empresas</a>
        <a class="list-group-item" *ngIf="verificarPermissao('Usuario','Gravar')" routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/usuario/registrar']">Usuario</a>
    </div>
</nav>
