<div class="container" style="width: 700px;">
	<div class="jumbotron">
		<app-template-form-control-summary [errors]="errors"></app-template-form-control-summary>
		<h3>Cadastro Professores</h3>
		<hr />
		<h4>Informe uma nova senha e clique no botão Resetar.</h4>
			  <form role="form" (ngSubmit)="resetar()" novalidate [formGroup]="formulario">
			<div class="form-content">
			  <div class="form-group">
				<input [ngClass]="aplicarCssErro(displayMessage.senha)" class="form-control" id="senha" formControlName="senha" type="password" placeholder="Senha (requerido)" />
				<app-template-control-form-error [formFeedBack]="false" [notInline]="false" [msgError]="displayMessage.senha" *ngIf="displayMessage.senha">
				</app-template-control-form-error>
			  </div>
			  <div class="form-group">
				<input [ngClass]="aplicarCssErro(displayMessage.confirmeSenha)" class="form-control" id="confirmeSenha" formControlName="confirmeSenha" type="password" placeholder="Confirme a Senha" />
				<app-template-control-form-error [formFeedBack]="false" [notInline]="false" [msgError]="displayMessage.confirmeSenha" *ngIf="displayMessage.confirmeSenha">
				</app-template-control-form-error>
			  </div>
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="loading"> Resetar </button>
		  </form>
	  </div>
  </div>
  
  